/* fonts */
/* @font-face {
    font-family: Walkway_SemiBold;
    src: url(fonts/walkway-font/Walkway_SemiBold.ttf);
}
* {
    font-family: Walkway_SemiBold;
 } */

 /* @font-face {
    font-family: Walkway_Black;
    src: url(fonts/walkway-font/Walkway_Black.ttf);
}
* {
    font-family: Walkway_Black;
 } */
 /* @font-face {
    font-family: Walkway_Bold;
    src: url(fonts/walkway-font/Walkway_Bold.ttf);
}
* {
    font-family: Walkway_Bold;
 } */ 

/* @font-face {
    font-family: Walkway_Expand_Black;
    src: url(fonts/walkway-font/Walkway_Expand_Black.ttf);
}
.myfont {
    font-family: Walkway_Expand_Black !important;
 } */

  @font-face {
    font-family: gothic;
    src: url(fonts/gothic/gothic.ttf);
}
* {
    font-family: gothic;
 }

 /* CSS */
body {
    /* font-family: "Lato", sans-serif; */
    transition: background-color .5s;
    background-color: #7F7F7F !important;
    height: auto !important; 
}
/* div.landscape {
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  } */

.active-accordian{
    background-color: #7F7F7F !important;
    color: white !important;
}
.active-accordian    small , .active-accordian i , .active-accordian h2  {
    color: white !important;
}{
    color: white !important;
}
.fixed-height {
    height: 255px;
}
#topAlertSuccess {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.border-top-grey {
    border-top: 2px solid #7F7F7F;
}

.allWhiteText {
    color: #FFFFFF !important;
}
/* table width pie graph */
.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
}
.table td, .table th {
    border-top: none;
}
.table {
    background-color: #7F7F7F !important;
}
/* table with pie graph ends */
td.bar-table {
    padding: 12px 8px;
}

.smallPieGraph {
    margin-left: 12%;
}


.box-grade {
        width: 30px;
        height: 30px;
        text-align: center;
}

    /* Background-color */
    .yellow-bckgrnd {
        background: #FFC000;
        color: #FFFFFF;
    }
    .dark-green-bckgrnd {
        background: #538234;
        color: #FFFFFF;
    }
    .red-bckgrnd {
        background: #BD0100;
        color: #FFFFFF;
    }    
    .orange-bckgrnd {
        background: #ED7D31;
        color: #FFFFFF;
    }

    .green-backgrnd {
        background: #56BDA2;
    }
    .dark-grey-bckgrnd {
        background: #7F7F7F;
    }
    /* Background-color Ends*/

.white {
    color: #FFFFFF;
}
div.product-width {
    display: inline-block !important;
    width: 20%;
}
.border-darkgrey {
    border: 1px solid #7F7F7F !important;   
}
/*.ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
     border: 1px solid #000000; 
}*/
.ellipsis{
    text-align: left;
}
.inline-block {
    display: inline-block;
}
.no-outline {
    outline: none;
}
#main {
    /* background: #404040; */
    height: 100%;
}
/* .main-box {
    position: relative;
} */
.cursor {
    cursor: pointer;
}

/* date-section */
.md-datepicker-input {
    color: #FFF;
}
.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: white;
}
md-icon.md-default-theme, md-icon {
    color: #FFF;
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #61B2A0;
}
.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon, .md-datepicker-open .md-datepicker-calendar-icon {
    color: #61B2A0;
}
/* date-section ends */

/* pagination */
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #7F7F7F;
    border-color: #FFFFFF;
}
/* pagination Ends */

.btn-backgrnd {
    background: #EEE;
    padding: 10px;
    padding-left: 4px;
}
    /* .btn-backgrnd.active {
        background: #61B2A0;
        padding: 10px;
    } */
    .btn-backgrnd.active {
        background: #61B2A0;
        padding: 8px 15px 4px 7px;
        margin-right: -6px;
        margin-left: -6px;
        border: none;
    }
    .btn-backgrnd.active a .active-color {
        color: #FFF;
        font-size: 20px;
        vertical-align: middle;
    }
    .btn-backgrnd a .not-active-color {
        color: #7F7F7F;
        font-size: 20px;
        vertical-align: middle;
    }
.view-btn{
    font-size: 24px;
    vertical-align: middle;
}
a {
    text-decoration: none !important;
}

/* navbar */
nav {
    color: #FFF;
}    
    .bg-grey {
        background: #404040;
    }
    /* .hoverable {
        position: relative;
        display: inline-block;
    } */
    .search-box {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        margin-top: -28px;
        margin-left: -215px;
        border-radius: 8px;
    }
    .fa-times {
        display: none;
    }
    /* .hoverable:hover .search-box, .search-box:focus {
        display: block;
    } */

/* calender-section */
i.vert-align {
    vertical-align: middle;
    color: #FFFFFF;
}

/* Side Nave */
.pointer {
    cursor: pointer;
}
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

/* change-view boxes */
.box {
    background: #F2F2F2;
    color: #343A40;
}
.box-active {
    background: #56BDA2;
    color: #FFF;
}
.my-rounded-left {
    border-top-left-radius: .50rem!important;
    border-bottom-left-radius: .50rem!important;
}
.my-rounded-right {
    border-top-right-radius: .50rem!important;
    border-bottom-right-radius: .50rem!important;
}

/* Style tab links */
.tablink {
    background-color: #343A40;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 10%;
}
    .tablink:hover {
        background-color: #777;
    }
    .tablink:focus {
        outline: none;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        display: none;
        padding: 100px 20px;
        height: 100%;
    }

    #Home {background-color: #EBEBEB;}
    #News {background-color: #EBEBEB;}
    #Contact {background-color: #EBEBEB;}
    #About {background-color: #EBEBEB;}

/* nav pills */
/* .nav-tabs .nav-link {
    background: #595959;
    border-right: 1px solid #343A40;
    border-left: 1px solid #343A40;
    margin-right: 12px;
    color: #FFF;
} */
.nav-tabs .nav-link{
    background: #595959;
    border-right: none;
    border-left: none;
    border-bottom: #ebebeb;
    border-top: #595959;
    margin-right: 0.7%;
    color: #FFF;
}
.nav-tabs .nav-link:focus {
    border-top: none;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
}
    .nav-tabs .nav-link.active {
        background-color: #EBEBEB;
        border-color: none !important;
        border-color: #dee2e6 #dee2e6 #EBEBEB;
    }
    .tab-content>.tab-pane {
        background: #EBEBEB;
        border-right: 1px solid #DEE2E6;
        border-left: 1px solid #DEE2E6;
    }
    #nav-tabContent {
        background: #EBEBEB;
    }

/* nav-sub-heads */
.down-arrow {
    vertical-align: text-bottom;
}
    .grey {
        color: #A4A4A4;
    }
    .blue-backgrnd {
        background: #0077ff;
    }
    .orange {
        color: #ED7D31;
    }
    
    .head-border-bottom {
        border-bottom: 1px solid #FFF;
    }
    div input.slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        height: 7px;
        border-radius: 5px;
        background: #61B2A0;
    }
    input.slider:focus {
        border: none;
        outline: none;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
       
        /* appearance: none; */
        width: 23px;
        height: 24px;
        border: 0;
        border-radius: 50%;
        background: #61B2A0;
        cursor: pointer;
     
     }
     .slider::-moz-slider-thumb {
       
        -moz-appearance: none;
        /* appearance: none; */
        width: 23px;
        height: 24px;
        border: 0;
        border-radius: 50%;
        background: #61B2A0;
        cursor: pointer;
     
     }
     
     .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
     
        border-radius: 50%;
        background: #61B2A0;
        cursor: pointer;
     }
    h2 .light-green {
        color: #56BDA2;
    }

/* New-Tab Content */
.tab-border {
    background: #FFF;
    border-radius: 7px;
}
    img.img-width {
        width: 125% !important;
    }
    .rounded-bottom {
        border-bottom-right-radius: .75rem!important;
        border-bottom-left-radius: .75rem!important;
    }
    a.deco-none {
        color: #000;
    }
    a.deco-none:hover {
        color: inherit;
    }
    .product-details {
        font-size: 14px;
        color:#A4A4A4;
    }
    button.lg-btn {
        width: 100%;
    }
    button.lg-btn:hover {
        background: #7F7F7F;
    }
    .yes-btn {
        background: #56BDA2;
        border-radius: 10px;
        border: none;
        color: #FFF;
    }
    button.yes-btn:hover {
        background: #61B2A0;
    }
    .auto-btn {
        background: #056fbc;
        border-radius: 10px;
        border: none;
        color: #FFF;
    }
    button.auto-btn:hover {
        background: #056fbc;
    }
    .disable-btn {
        background: #aaa;
        border-radius: 10px;
        border: none;
        color: #FFF;
    }
    .disable-btn:hover {
        background: #aaa !important;
        
    }

    .dark-btn {
        background: #7F7F7F;
        border-radius: 10px;
        border: none;
        color: #FFF;
    }
    .dark-red-btn {
        border-radius: 10px;
        border: none;
        color: #FFF;
    }
    button.btn-shadow {
        box-shadow: 1px 1px 3px #d1d1d1;
    }
    .bell-icon {
        color: #7F7F7F;
    }
    .gradeA {background: #2E8B57};
    .gradeA:before{border-left: 12px solid #2E8B57;}
    .gradeB {background: #ffc000};
    .gradeB:before{border-left: 12px solid #CCCC00;}
    .gradeC {background: #ED7D31};
    .gradeC:before{border-left: 12px solid #ED7D31;}
    .gradeD {background: #8B0000};
    .gradeD:before{border-left: 12px solid #8B0000;}
    .grade {
        background: #ED7D31;
        width: 100px;
        color: #FFF;
        position: relative;
    }
        .grade:before {
            content: '';
            position: absolute;
            bottom: 0; right: 0;
            border-bottom: 12px solid white;
            border-left: 12px solid #ED7D31;
            width: 0;
        }
    .pie-grade {
        background: #ED7D31;
        width: 100px;
        color: #FFF;
        position: relative;
    }
        .pie-grade:before {
            content: '';
            position: absolute;
            bottom: 0; right: 0;
            border-bottom: 12px solid#7F7F7F;
            border-left: 12px solid #ED7D31;
            width: 0;
        }
    .no-test-btn {
        display: inline-block;
    }
    .col-height {
        height: 50%;
    }
    .factors-data {
        padding-top: 42px;
    }

    /* Yes-tab-content */
    .ln-height {
        line-height: 1;
    }
    .blue-logo {
        /* color: #0062cc; */
        color: #0000ff;
    }
    .blue-text {
        color: #0062cc;
        /* color: #0000ff; */
    }

    /* Toggle-view */

    div.add-btn {
        vertical-align: middle;
        padding: 26px 8px;
        background: #FFF;
        color: #404040;
        cursor: pointer;
        border-radius: 6px;
        font-size: 25px;
    }

    .white-bckgrnd {
        background: #FFF;
    }
    span i.bell-align {
        vertical-align: middle;
    }
    .light-grey-clr {
        color: #EBEBEB;
    }
    .light-grey {
        background: #EBEBEB;
    }
    .rounded-left {
        border-top-left-radius: 0.5rem!important;
        border-bottom-left-radius: .5rem!important;
    }
    .rounded-right {
        border-top-right-radius: 0.5rem!important;
        border-bottom-right-radius: .5rem!important;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: inline;
    }
    .second-row{
        margin-left: 37px;
        margin-top: 20px;
    }
    .my-col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 4.333333%;
        padding-left: 15px;
        padding-right: 4px;
    }
    .my-col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 1 0 91.666667%;
        max-width: 95.666667%;
        padding-left: 0px;
        padding-right: 15px;
    }

    h6 span.light-green {
        color: #56BDA2;
    }
    li div.grade-row {
        width: 100px;
        color: #FFF;
        position: relative;
        border-bottom-left-radius: .5rem!important;
    }
    ul.ul-top {
        border-top-left-radius: 0.5rem!important;
        border-top-right-radius: .5rem!important;
    }
    ul.ul-bottom {
        border-bottom-left-radius: 0.5rem!important;
        border-bottom-right-radius: .5rem!important;
    }
    .product-content {
        padding: 0px 10px;
    }
    .price-change-content {
        min-width: 179px;
    }
    .gm-change-content {
        min-width: 179px;
    }
    .stock-content {
        min-width: 179px;
    }
    .change-price-content-yes {
        min-width: 261px;
    }
    .change-price-content-auto {
        padding: 0px 8px;
    }
    .change-price-content-cancel {
        padding: 0 85px;
    }


    .scnd-row-width {
        width: 100px;
    }

    .product-heading {
        padding: 0px 7px;
    }
    .current-data {
        padding-top: 15px;
    }
    .auto-current-data {
        padding-top: 12px;
    }
    .margin-right {
        margin-right: 2px;
    }
    .auto-price-btn {
        padding: 69px 0px 9px 0px;
    }
    .yes-change-btn {
        padding-top: 70px;
    }
    .new-current-dollor {
        padding-top: 15px;
    }
    .new-current-percentage {
        padding-top: 0px;
        margin-top: 14px;
    }

    .new-factors-dollor {
        padding-top: 1px;
    }
    .new-factors-percentage {
        padding-top: 0px;
        margin-top: 1px;
    }

    .no-third-section-btns{
        padding-top: 0px;
    }
    .no-current-data {
        padding-top: 8px;
    }    
    .yes-current-data-percentage {
        margin-top: 11px;
    }
    .yes-current-data-dollor {
        padding-top: 14px; 
        margin-top: 14px;
    }
    .yes-factors-data-dollor {
        padding-top:42px;
    }
    .yes-factors-data-percentage {
        padding-top:38px;
        margin-top: 2px;
    }
    .no-current-data-dollor {
        padding-top: 8px;
    }
    .no-factors-data-dollor {
        padding-top: 42px;
    }
    .no-current-data-percentage {
        padding-top: 10px;
        margin-top: 10px;
    }
    .no-factors-data-percentage {
        padding-top: 20px;
    }

    .test-yes-btn {
        padding-top: 54px;
    }
    .test-change-price {
        padding-top: 26px;
    }

    .test-current-dollor {
        padding-top: 5px;
    }
    .test-current-percentage {
        padding-top: 0px;
        margin-top: 2px;
    }
    .test-factors-dollor {
        padding-top: 4px;
    }
    .test-factors-percentage {
        padding-top: 0px;
        margin-top: 2px;
    }
    .auto-current-percentage {
        margin-top: 2px;
    }
    .auto-factors-percentage {
        margin-top: 2px;
    }

    .test-result-text {
        padding: 17px 16px;
    }

    

    /* media queries */
    @media screen and (max-width: 1200px) {
        h1 { font-size: 2em; }
        h2 { font-size: 1.5em; }
        h3 { font-size: 1.17em; }
        h4 { font-size: 1.12em; }
        h5 { font-size: .83em; }
        h6 { font-size: .75em; }
        div.add-btn {
            vertical-align: middle;
            padding: 21px 5px;
            background: #FFF;
            color: #404040;
            cursor: pointer;
            border-radius: 6px;
            font-size: 25px;
        }
        .auto-current-data {
            padding-top: 61px;
        }
        .current-data {
            padding-top: 10px;
        }

        .product-heading {
            padding: 0px 2px;
        }
        .product-content {
            padding: 0px 2px;
        }
        .price-change-content {
            min-width: 138px;
        }
        .gm-change-content {
            min-width: 148px;
        }
        .stock-content {
            min-width: 120px;
        }
        .change-price-content-yes {
            min-width: 203px;
        }

        td.bar-table {
            padding: 12px 8px;
        }

        .btn-group-lg>.btn, .btn-lg {
            padding: 8px 12px 8px 12px;
            font-size: 14px;
            line-height: 1.5;
            border-radius: .3rem;
        }
        .auto-price-btn {
            padding: 65px 0px 9px 0px;
        }

        .new-third-section-btns {
            padding-top: 41px !important;
        }
        .yes-change-btn {
            padding-top: 70px;
        }

        .new-current-data {
            padding-top: 36px;
        }
        .factors-data-percentage {
            padding-top: 0px;
            margin-top: -6px;
        }
        .no-third-section-btns{
            padding-top: 7px;
        }
        .yes-current-data-dollor {
            padding-top: 10px; 
            /* margin-top: 14px; */
        }
        .yes-current-data-percentage {
            padding-top: 4px; 
            /* margin-top: 14px; */
        }
        .yes-factors-data-dollor {
            padding-top:42px;
        }
        .yes-factors-data-percentage {
            padding-top: 44px;
        }

        .no-current-data-percentage {
            padding-top: 10px;
            margin-top: 5px;
        }

        .test-yes-btn {
            padding-top: 50px;
        }
        .test-change-price {
            padding-top: 23px;
        }
        .new-current-dollor {
            padding-top: 35px;
        }
        .new-current-percentage {
            padding-top: 25px;
            margin-top: 14px;
        }

        .smallPieGraph {
            margin-left: 2%;
        }

        .test-result-text {
            padding-top: 5px;
            padding-left: 21px;
        }

        /* .new-factors-dollor {
            padding-top: 1px;
        } */

        /* .new-yes-btn {
            margin-top: 50px !important;
        }
        .new-change-text {
            padding-top: 68px;
        } */

        /* row-view */
        /* .product-content {
            padding: 0px 10px;
        }
        .price-change-content {
            padding: 0px 25px;
        }
        .gm-change-content {
            padding: 0px 53px;
        }
        li.stock-content-row {
            padding: 0px 61px;
        }
        .change-price-content {
            padding: 0px 4px;
        }
        .change-price-content-auto {
            padding: 0 8px;
        } */
    }

    @media screen and (max-width: 1024px) {
        /* h1 { font-size: 2em; }
        h2 { font-size: 1.5em; }
        h3 { font-size: 1.17em; }
        h4 { font-size: 1.12em; }
        h5 { font-size: .83em; }
        h6 { font-size: .75em; } */
        div.add-btn {
            vertical-align: middle;
            padding: 21px 5px;
            background: #FFF;
            color: #404040;
            cursor: pointer;
            border-radius: 6px;
            font-size: 25px;
        }
        .auto-current-data {
            padding-top: 61px;
        }
        /* .stock-content {
            padding: 0px 45px;
        } */


        .price-change-content {
            min-width: 138px;
        }
        .gm-change-content {
            min-width: 148px;
        }
        .stock-content {
            max-width: 112px;
        }
        .change-price-content-yes {
            min-width: 203px;
        }

        td.bar-table {
            padding: 12px 8px;
        }

        .btn-group-lg>.btn, .btn-lg {
            padding: 8px 12px 8px 12px;
            font-size: 14px;
            line-height: 1.5;
            border-radius: .3rem;
        }
        .auto-price-btn {
            padding: 73px 0px 9px 0px;
        }
        /* .product-heading {
            padding: 0px 2px;
        }
        .product-content {
            padding: 0px 2px;
        }
        .price-change-content {
            padding: 0px 5px;
        }
        .gm-change-content {
            padding: 0px 46px;
        }
        
        .change-price-content {
            padding: 0px 4px;
        } */
    }


/* .btn-backgrnd.not-active {
       background: #EEEEEE;
       font-size: 20px;
       padding: 7px 6px 10px 6px;
   } */
   .btn-backgrnd.not-active {
    background: #EEEEEE;
    font-size: 20px;
    padding: 4px 14px 6px 8px;
    border: none;
}

/* Test and Price Tables' CSS */
.tbl-btn {
    /* background-color: #EEEEEE; */
    background-color: #61B2A0;
    color: #EEEEEE;
}
.tbl-btn-active {
    background-color: #61B2A0;
}



.new-yes-btn {
    padding-top: 63px;
}
.new-change-text {
    padding-top: 65px;
}
.new-donate-btn {
    padding-top: 63px;
}
.new-third-section-btns {
    padding-top: 13px;
}

/*Sid CSS*/

.btn-primary.disabled, .btn-primary:disabled{
    background: #aaa !important;
        border-radius: 10px !important;
        border: none !important;
        color: #FFF !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.new-yes-btn {
   padding-top: 63px;
}

/*Blink */
.highlight {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.alerted{
    color: #cd0000;
}
.alert{
    margin-bottom: 0px !important;
}
.graphCont div div {
display: block;
margin-left: auto;
margin-right: auto;
}