body {
    background: #7F7F7F;
}
.white {
    color: #FFFFFF;
}

/* navbar */
nav {
    color: #FFF;
}    
    .bg-grey {
        background: #404040;
    }
    /* .hoverable {
        position: relative;
        display: inline-block;
    } */
    .search-box {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        margin-top: -28px;
        margin-left: -215px;
        border-radius: 8px;
    }
    .fa-times {
        display: none;
    }

/* Side Nave */
.pointer {
    cursor: pointer;
}
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

    /* table css */
    .table .thead-dark th {
        color: #fff;
        background-color: #404040;
        border-color: #404040;
    }
    .table {
        /*background-color: #FFFFFF !important;*/
        border-top: none;
    }
    .white-table{
        background-color: #FFFFFF !important;
    }
    /* table css ends */


