<!DOCTYPE html>
<html lang="en">

<head>
	<title>XRapidMathematix | Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	 crossorigin="anonymous">

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

	<!-- semantic -->
	<link rel="stylesheet" type="text/css" href="../static/css/semantic/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	 crossorigin="anonymous"></script>
	<script src="../static/css/semantic/semantic.min.js"></script>

	<!-- my css -->
	<link rel="stylesheet" href="../static/css/styles.css">
	<link rel="stylesheet" href="../static/css/test-recom.css">
</head>

<body ng-app="rapidMatrix" ng-controller="mainCtrl" ng-cloak style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
 unselectable="on" onselectstart="return false;">

	<div class="potrait">
		<div class="jumbotron jumbotron-fluid text-center">
			<div class="container">
				<h1 class="display-4">XRapidMathematix</h1>
				<p class="lead">Please switch to
					<strong>landscape</strong> mode for better viewing.</p>
			</div>
		</div>
	</div>

	<div class="landscape">
		<div class="alert alert-success" id="topAlertSuccess">
			<strong>Success!</strong> {{'{{alertText}}'}}
		</div>
		<!-- body-section -->
		<section id="main">
			<nav class="navbar navbar-expand-lg navbar-dark bg-grey">
				<div class="container-fluid">
					<a class="navbar-brand pointer" ng-click="changeRoute('tabs')">
						<img src="../static/img/logo.png" alt="XRapidMathematix">
					</a>
					<div class="form-inline my-2 my-lg-0">
						<span class="hoverable">
							<!-- icon -->
							<span class="search-icon">
								<i class="fas fa-search" id="search_icon" onclick="toggleSearchBox()"></i>
								<i class="fas fa-times" id="search_close" onclick="closeSearchBox()"></i>
							</span>
							<!-- search-box -->
							<span class="">
								<input class="mr-sm-2 search-box" type="search" id="search_box" placeholder="Search" aria-label="Search" ng-model="globalSearch">
							</span>
						</span>
						<span class="mx-4">
							<span class="mr-2">Kiran Gange</span>
							<span>
								<i class="fas fa-user-circle"></i>
							</span>
						</span>
						<span onclick="openNav()">
							<i class="fas fa-bars pointer"></i>
						</span>
					</div>
				</div>
			</nav>

			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="#" ng-click="changeRoute('tabs')">Home</a>
				<a href="#" ng-click="changeRoute('recom')">Price Recommendations</a>
				<a href="#" ng-click="changeRoute('result')">Test Results</a>
				<a href="/logout">Logout</a>
			</div>

			<div id="demo"></div>

			<!-- date-section -->
			<!-- <div class="container">
					<div class="row pt-4">
						<div class="col-sm">
							<div class="float-right">
								<a href="">
									<span class="p-1">
										<i class="fas fa-caret-left fa-2x vert-align light-grey-clr" ng-click="changeDate(0)"></i>
									</span>
								</a>
								<md-datepicker ng-model="date" ng-change="onChangeDate()"></md-datepicker>
								<a href="">
									<span class="p-1 ml-3">
										<i class="fas fa-caret-right fa-2x vert-align light-grey-clr" ng-click="changeDate(1)"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div> -->
			<!-- date-section Ends-->

			<!-- nav tabs -->
			<div ng-controller="commonCtrl">
				<div class="container" ng-show="routeMain=='tabs'">
					{% include 'tabs.html' %}
				</div>
				<div class="container-fluid" ng-show="routeMain=='recom'">
					{% include 'recom.html' %}
				</div>
				<div class="container-fluid" ng-show="routeMain=='result'">
					{% include 'result.html' %}
				</div>
			</div>
		</section>
		<!-- End-body-section -->
	</div>

</body>
<!-- jquery for bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- jquery for datepicker -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script type="text/javascript" src="/static/js/ng-infinite.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<!-- google charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- <script src="../static/js/google-charts.js"></script> -->
<script src="/static/js/index.js"></script>

<!-- <script src="../static/js/new.js"></script>
<script src="../static/js/yes.js"></script>
<script src="../static/js/no.js"></script>
<script src="../static/js/test.js"></script>
<script src="../static/js/alert.js"></script>
<script src="../static/js/auto.js"></script> -->


<script src="../static/js/dash.js"></script>
<script src="/static/js/common.js"></script>
   
<!-- <script src="../static/js/common.js"></script> -->


<!-- google charts -->
<!-- line chart -->
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script type="text/javascript">
	google.charts.load('current', { 'packages': ['corechart'] });

	$(document).ready(function () {
		$('#topAlertSuccess').hide();
	})
// $(":button").click(function(){alert('ok')});
</script>
<script>
	// screen width code

	$(document).ready(function () {
		detectSize()
	})

	$(window).on("orientationchange", function () {
		detectSize()
	})
	function detectSize() {

		// document.getElementById("demo").innerHTML =
		// 	"Screen Width: " + document.width;
		if (window.innerWidth < 1024) {
			$('.potrait').show();
			$('.landscape').hide();
			// alert('Please switch on the potrait mode for better viewing');
		} else {
			$('.potrait').hide();
			$('.landscape').show();
		}
	}

</script>

<!-- Donut Chart -->


</html>