<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dash.css')}}"> -->
    <title>XRapidMathematix | Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
   crossorigin="anonymous">
   
</head>
<style type="text/css">
.form-container{
	width: 400px;
	margin-top: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	background-color: white;
}	
.navt-top{
background-color: #2e6da4;
color: white;
}
/* navbar */
nav {
    color: #FFF;
}    
    .bg-grey {
        background: #404040;
    }
    .hoverable {
        position: relative;
        display: inline-block;
    }
    .search-box {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        margin-top: -22px;
        margin-left: -230px;
    }
    .hoverable:hover .search-box, .search-box:focus {
        display: block;
    }
    .my-form {
    padding: 45px;
    border-radius: 20px;
    background: #404040;
    color: #FFF;
}
</style>
<body  style="background-color: #7F7F7F;">

<!-- <div class="container-fluid navt-top one-edge-shadow">
  <h2>RapidMathMatix</h2>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-grey">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../static/img/logo.png" alt="XRapidMathematix">
      </a>
    </div>
  </nav>
<!-- New login page -->
<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-md-6" style="margin-top:15%;">
        <div>
            <form action="logincheck" method="POST" class="my-form">
             {%if keys %} <h6 class="text-center" style="color:red;">{{keys}}</h6>{% endif %}

                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" id="usr" name="userId" class="form-control"  placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                </div>
                <div class="text-center" style="padding-top: 28px;">
                    <button type="submit" class="btn white-bckgrnd" style="background-color: #FFFFFF">Submit</button>
                </div>
                
              </form>
        </div>
    </div>
  </div>
</div>
<!-- New login page Ends -->

<!-- <form action="logincheck" method="POST">
  <div class="form-container">
    <div class="form-group">
	  <label for="usr">Name:</label>
	  <input type="text" class="form-control" id="usr" name="userId">
	</div>
	<div class="form-group">
	  <label for="pwd">Password:</label>
	  <input type="password" class="form-control" id="pwd" name="password">
	</div>
	<div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
 
  </div>
</form> -->
</body>
<script
     src="https://code.jquery.com/jquery-3.1.1.min.js"
     integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
     crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='js/jquery.tagcloud.js')}}"></script>
   

   <script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });

});

</script>
</html>