<!-- Togge Buttons -->
<!-- <div class="container pt-3">
    <div class="text-right">
        <span data-toggle="tooltip" data-placement="top" title="Collapsed View!" ng-click="showCollapsed()">
            <button class="btn btn-lg tbl-btn tbl-btn-active no-outline" style="margin-right: -3px;">
                <i class="fas fa-th-large"></i>
            </button>
        </span>
        <span data-toggle="tooltip" data-placement="top" title="Expanded View!" ng-click="showExpanded()">
            <button class="btn btn-lg tbl-btn no-outline" style="margin-left: -1px;">
                <i class="fas fa-th"></i>
            </button>
        </span>
    </div>
</div> -->
<!-- Toggle Buttons Ends -->





<!-- The Expandable View -->
<div ng-show="expandedTable">

    <!-- Togge Buttons -->
    <div class="container pt-3">
        <div class="float-right">
            <span data-toggle="tooltip" data-placement="top" title="Collapsed View!" ng-click="showCollapsed()">
                <button class="btn tbl-btn no-outline" style="margin-right: -3px;">
                    <!-- <i class="fas fa-th-large"></i> -->
                    {{'{{labels.recom.clickForCollapsed}}'}}
                </button>
            </span>
        </div>
    </div>
    <!-- Toggle Buttons Ends -->
    <h2 class="text-center white">{{'{{labels.recom.priceRecommendations}}'}}</h2>

    <div class="row">
        <div class="col-md" style="overflow: auto;">
            <table class="ui celled structured table">
                <thead>
                    <tr>
                        <th rowspan="2">{{'{{labels.recom.scenarioId}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.description}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.sku}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.department}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.category}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.subCategory}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.brand}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.cost}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.oldPrice}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.newPrice}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.priceChange}}'}}</th>
                        <th colspan="3">{{'{{labels.recom.profit}}'}}</th>
                        <th colspan="3">{{'{{labels.recom.revenue}}'}}</th>
                        <th colspan="3">{{'{{labels.recom.volume}}'}}</th>
                    </tr>
                    <tr>
                        <th>{{'{{labels.recom.oldPrice}}'}}</th>
                        <th>{{'{{labels.recom.newPrice}}'}}</th>
                        <th>{{'{{labels.recom.change}}'}}</th>
                        <th>{{'{{labels.recom.oldPrice}}'}}</th>
                        <th>{{'{{labels.recom.newPrice}}'}}</th>
                        <th>{{'{{labels.recom.change}}'}}</th>
                        <th>{{'{{labels.recom.oldPrice}}'}}</th>
                        <th>{{'{{labels.recom.newPrice}}'}}</th>
                        <th>{{'{{labels.recom.change}}'}}</th>
                    </tr>
                </thead>
                <tbody class="white-bckgrnd">
                        <tr ng-repeat="product in products.yesProducts | orderBy: '-' | filter : globalSearch" ng-hide="singleResult">
                                <td>0</td>
                                <td>${{'{{product.Description}}'}}</td>
                                <th>SKU-{{'{{product.SKU}}'}}</th>
                                <td scope="row">{{'{{product.Department}}'}}%</td>
                                <td>${{'{{product.Catagory}}'}}</td>
                                <td>{{'{{product.SubCategory}}'}}%</td>
                                <td>{{'{{product.Brand}}'}}</td>
                                <td>{{'{{(product.Cost)}}'}}</td>
                                <!-- Old Price -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <!-- Price Change % -->
                                <td class="right aligned">0</td>
                                <!-- Profit ($) -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <!-- Revenue ($) -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <!-- Volume (Units) -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                            </tr>
                            <tr  ng-show="singleResult">
                                    <td>${{'{{showProduct.Department}}'}}</td>
                                    <td>${{'{{showProduct.Description}}'}}</td>
                                    <th>SKU-{{'{{showProduct.SKU}}'}}</th>
                                    <td scope="row">{{'{{showProduct.Department}}'}}%</td>
                                    <td>${{'{{showProduct.Catagory}}'}}</td>
                                    <td>{{'{{showProduct.SubCategory}}'}}%</td>
                                    <td>{{'{{showProduct.Brand}}'}}</td>
                                    <td>{{'{{(showProduct.Cost)}}'}}</td>
                                    <!-- Old Price -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <!-- Price Change % -->
                                    <td class="right aligned">0</td>
                                    <!-- Profit ($) -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <!-- Revenue ($) -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <!-- Volume (Units) -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                </tr>
                            
                    <!-- <tr>
                        <td>Alpha Team</td>
                        <td>Project 1</td>
                        <td class="right aligned">SKU-{{'{{product.SKU}}'}}</td>
                        <td class="center aligned">
                            
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Beta Team</td>
                        <td>Project 1</td>
                        <td class="right aligned">52</td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Project 2</td>
                        <td class="right aligned">12</td>
                        <td></td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Project 3</td>
                        <td class="right aligned">21</td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                        <td></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- The Expandable View Ends-->

<!-- The collapsed View -->
<div ng-show="collapsedTable">

    <!-- Togge Buttons -->
    <div class="container pt-3">
        <div class="float-right">
            <span data-toggle="tooltip" data-placement="top" title="Expanded View!" ng-click="showExpanded()">
                <button class="btn tbl-btn no-outline" style="margin-left: -1px;">
                        {{'{{labels.recom.clickForExpanded}}'}}
                    <!-- <i class="fas fa-th"></i> -->
                </button>
            </span>
        </div>
    </div>
    <!-- Toggle Buttons Ends -->
    <h2 class="text-center white">{{'{{labels.recom.priceRecommendations}}'}}</h2>
    

    <div class="row">
        <div class="col-md" style="overflow: auto;">
            <table class="ui celled structured table">
                <thead>
                    <tr>
                        <th rowspan="2">{{'{{labels.recom.scenarioId}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.category}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.subCategory}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.brand}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.cost}}'}}</th>
                        <th rowspan="2">{{'{{labels.recom.priceChange}}'}}</th>
                        <th colspan="2">{{'{{labels.recom.profit}}'}}</th>
                        <th colspan="2">{{'{{labels.recom.revenue}}'}}</th>
                        <th colspan="2">{{'{{labels.recom.volume}}'}}</th>
                    </tr>
                    <tr>
                        <th>{{'{{labels.recom.oldPrice}}'}}</th>
                        <th>{{'{{labels.recom.newPrice}}'}}</th>
                        <th>{{'{{labels.recom.oldPrice}}'}}</th>
                        <th>{{'{{labels.recom.newPrice}}'}}</th>
                        <th>{{'{{labels.recom.oldPrice}}'}}</th>
                        <th>{{'{{labels.recom.newPrice}}'}}</th>
                    </tr>
                </thead>
                <tbody class="white-bckgrnd">
                        <tr ng-repeat="product in products.yesProducts |orderBy: '-' | filter : globalSearch" ng-hide="singleResult">
                                <td>${{'{{product.Department}}'}}</td>
                                <td>${{'{{product.Catagory}}'}}</td>
                                <td>${{'{{product.SubCategory}}'}}</td>
                                <td>{{'{{product.Brand}}'}}%</td>
                                <td class="right aligned">${{'{{product.Cost}}'}}</td>
                                <!-- Price Change % -->
                                <td class="right aligned">0</td>
                                <!-- Profit ($) -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <!-- Revenue ($) -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <!-- Volume (Units) -->
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                            </tr>
                            <tr  ng-show="singleResult">
                                    <td>${{'{{showProduct.Department}}'}}</td>
                                    <td>${{'{{showProduct.Catagory}}'}}</td>
                                    <td>${{'{{showProduct.SubCategory}}'}}</td>
                                    <td>{{'{{showProduct.Brand}}'}}%</td>
                                    <td class="right aligned">${{'{{showProduct.Cost}}'}}</td>
                                    <!-- Price Change % -->
                                    <td class="right aligned">0</td>
                                    <!-- Profit ($) -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <!-- Revenue ($) -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                    <!-- Volume (Units) -->
                                    <td class="right aligned">0</td>
                                    <td class="right aligned">0</td>
                                </tr>
                    <!-- <tr>
                            <td>Alpha Team</td>
                            <td>Project 1</td>
                            <td class="right aligned">2</td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    <tr>
                            <td rowspan="3">Beta Team</td>
                            <td>Project 1</td>
                            <td class="right aligned">52</td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Project 2</td>
                            <td class="right aligned">12</td>
                            <td></td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Project 3</td>
                            <td class="right aligned">21</td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="text-center pt-3">
    <button class="btn btn-primary btn-lg" type="submit" export >{{'{{labels.recom.exportAsCsv}}'}}</button>
</div>
<!-- The collapsed View Ends-->

<!-- Table-section -->
<!-- <div class="container pt-5">
            <div class="row">
                <div class="col-md">
                    <h4 class="text-center white mb-5">Price Recommendations</h4>
                    <table class="table table-bordered pt-5 text-right white-table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">SKU</th>
                                <th scope="col">Cost</th>
                                <th scope="col">SSP</th>
                                <th scope="col">SSP(%)</th>
                                <th scope="col">GM</th>
                                <th scope="col">GM(%)</th>
                                <th scope="col">Factors</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Volume</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products.yesProducts">
                                <th scope="row" >SKU-{{'{{product.SKU}}'}}</th>
                                <td>${{'{{product.CurrentPrice}}'}}</td>
                                <td>${{'{{product.NewPrice}}'}}</td>
                                <td>{{'{{product.PricePercentage}}'}}%</td>
                                <td>${{'{{product.ForecastedSalesDay}}'}}</td>
                                <td>{{'{{product.GrossPercentage}}'}}%</td>
                                <td>{{'{{product.Factors}}'}}</td>
                                <td>{{'{{(product.CurrentGrade)}}'}}</td>
                                <td>{{'{{product.AverageQtyDay}}'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
<!-- Table-section Ends -->


<!-- jquery for bootstrap -->