<!-- The Expandable View -->
<div ng-show="expandedTable">

    <!-- Togge Buttons -->
    <div class="container pt-3">
        <div class="float-right">
            <span data-toggle="tooltip" data-placement="top" title="Collapsed View!" ng-click="showCollapsed()">
                <button class="btn tbl-btn no-outline" style="margin-right: -3px;">
                    <!-- <i class="fas fa-th-large"></i> -->
                    {{'{{labels.result.clickForCollapsed}}'}}
                </button>
            </span>
        </div>
    </div>
    <!-- Toggle Buttons Ends -->
    <h2 class="text-center white">{{'{{labels.result.testResults}}'}}</h2>

    <div class="row">
        <div class="col-md" style="overflow: auto;">
            <table class="ui celled structured table">
                <thead>
                    <tr>
                        <th rowspan="2">{{'{{labels.result.test}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.status}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.description}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.sku}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.cost}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.oldPrice}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.testPrice}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.priceChange}}'}}</th>
                        <th colspan="3">{{'{{labels.result.profit}}'}}</th>
                        <th colspan="3">{{'{{labels.result.revenue}}'}}</th>
                        <th colspan="3">{{'{{labels.result.volume}}'}}</th>
                    </tr>
                    <tr>
                        <th>{{'{{labels.result.test}}'}} </th>
                        <th>{{'{{labels.result.control}}'}}</th>
                        <th>{{'{{labels.result.change}}'}}</th>
                        <th>{{'{{labels.result.test}}'}} </th>
                        <th>{{'{{labels.result.control}}'}}</th>
                        <th>{{'{{labels.result.change}}'}}</th>
                        <th>{{'{{labels.result.test}}'}} </th>
                        <th>{{'{{labels.result.control}}'}}</th>
                        <th>{{'{{labels.result.change}}'}}</th>
                    </tr>
                </thead>
                <tbody class="white-bckgrnd">
                    <tr ng-repeat="product in products.testProducts |orderBy: '-'| filter : globalSearch">
                        <!-- Test -->
                        <th scope="row">0</th>
                        <!-- status -->
                        <td class="right aligned">0</td>
                        
                        <td>${{'{{product.Description}}'}}</td>
                        <th scope="row">SKU-{{'{{product.SKU}}'}}</th>
                        <td class="right aligned">${{'{{product.Cost}}'}}</td>
                        <!-- Old Price -->
                        <td class="right aligned">0</td>
                        <!-- TestPrice -->
                        <td class="right aligned">0</td>
                        <!-- Price Change (%) -->
                        <td class="right aligned">0</td>
                        <!-- Profit ($) -->
                        <td class="right aligned">0</td>
                        <td class="right aligned">0</td>
                        <td class="right aligned">0</td>
                        <!-- Revenue ($) -->
                        <td class="right aligned">0</td>
                        <td class="right aligned">0</td>
                        <td class="right aligned">0</td>
                        <!-- Volume (Units) -->
                        <td class="right aligned">0</td>
                        <td class="right aligned">0</td>
                        <td class="right aligned">0</td>
                    </tr>
                    <!-- <tr>
                        <td>Alpha Team</td>
                        <td>Project 1</td>
                        <td class="right aligned">2</td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Beta Team</td>
                        <td>Project 1</td>
                        <td class="right aligned">52</td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Project 2</td>
                        <td class="right aligned">12</td>
                        <td></td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Project 3</td>
                        <td class="right aligned">21</td>
                        <td class="center aligned">
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td></td>
                        <td></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- The Expandable View Ends -->

<!-- The collapsed View -->
<div ng-show="collapsedTable">

    <!-- Togge Buttons -->
    <div class="container pt-3">
        <div class="float-right">
            <span data-toggle="tooltip" data-placement="top" title="Expanded View!" ng-click="showExpanded()">
                <button class="btn tbl-btn no-outline" style="margin-left: -1px;">
                        {{'{{labels.result.clickForExpanded}}'}}
                    <!-- <i class="fas fa-th"></i> -->
                </button>
            </span>
        </div>
    </div>
    <!-- Toggle Buttons Ends -->
    <h2 class="text-center white">Test Results</h2>

    <div class="row">
        <div class="col-md" style="overflow: auto;">
            <table class="ui celled structured table">
                <thead>
                    <tr>
                        <th rowspan="2">{{'{{labels.result.cost}}'}}</th>
                        <th rowspan="2">{{'{{labels.result.priceChange}}'}}</th>
                        <th colspan="2">{{'{{labels.result.profit}}'}}</th>
                        <th colspan="2">{{'{{labels.result.revenue}}'}}</th>
                        <th colspan="2">{{'{{labels.result.volume}}'}}</th>
                    </tr>
                    <tr>
                        <th>{{'{{labels.result.test}}'}} </th>
                        <th>{{'{{labels.result.control}}'}}</th>
                        <th>{{'{{labels.result.test}}'}} </th>
                        <th>{{'{{labels.result.control}}'}}</th>
                        <th>{{'{{labels.result.test}}'}} </th>
                        <th>{{'{{labels.result.control}}'}}</th>
                    </tr>
                </thead>
                <tbody class="white-bckgrnd">
                        <tr ng-repeat="product in products.testProducts |orderBy: '-' | filter : globalSearch">
                                <td class="right aligned">${{'{{product.Cost}}'}}</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                                <td class="right aligned">0</td>
                            </tr>
                    <!-- <tr>
                            <td>Alpha Team</td>
                            <td>Project 1</td>
                            <td class="right aligned">2</td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="3">Beta Team</td>
                            <td>Project 1</td>
                            <td class="right aligned">52</td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Project 2</td>
                            <td class="right aligned">12</td>
                            <td></td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Project 3</td>
                            <td class="right aligned">21</td>
                            <td class="center aligned">
                                <i class="large green checkmark icon"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- The Collapsed View Ends -->
<div class="text-center pt-3">
    <button class="btn btn-primary btn-lg" type="submit" export1 >{{'{{labels.result.exportAsCsv}}'}}</button>
</div>



<!-- Table-section -->
<!-- <div class="container pt-5">
            <div class="row">
                <div class="col-md">
                    <h4 class="text-center white mb-5">Test Results</h4>
                    <table class="table table-bordered pt-5 text-right  white-table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">SKU</th>
                                <th scope="col">Cost</th>
                                <th scope="col">SSP</th>
                                <th scope="col">SSP(%)</th>
                                <th scope="col">GM</th>
                                <th scope="col">GM(%)</th>
                                <th scope="col">Factors</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Volume</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products.testProducts">
                                <th scope="row" >SKU-{{'{{product.SKU}}'}}</th>
                                <td>${{'{{product.CurrentPrice}}'}}</td>
                                <td>${{'{{product.NewPrice}}'}}</td>
                                <td>{{'{{product.PricePercentage}}'}}%</td>
                                <td>${{'{{product.ForecastedSalesDay}}'}}</td>
                                <td>{{'{{product.GrossPercentage}}'}}%</td>
                                <td>{{'{{product.Factors}}'}}</td>
                                <td>{{'{{(product.CurrentGrade)}}'}}</td>
                                <td>{{'{{product.AverageQtyDay}}'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
<!-- Table-section Ends -->

<!-- jquery for bootstrap -->