<section class="mt-4 main-box">
				<div class="float-right" style="margin-top: -0.5%;">
					<div class="d-inline mr-3">
						<button class="d-inline border-right my-rounded-left  btn-backgrnd " ng-class="{'active':grid=='large' , 'not-active':grid=='small'}"
						 ng-click="changeGridLayout('large')">
							<a href="">
								<span class="" ng-class="{'active-color':grid=='large' , 'not-active-color':grid=='small'}">
									<i class="fas fa-th-large ml-2 "></i>
								</span>
							</a>
						</button>
						<button class="d-inline btn-backgrnd my-rounded-right" ng-class="{'active':grid=='small' ,'not-active':grid=='large'}" ng-click="changeGridLayout('small')">
							<a href="" class="">
								<span class="" ng-class="{'active-color':grid=='small' , 'not-active-color':grid=='large'}">
									<i class="fas fa-th ml-2"></i>
								</span>
							</a>
						</button>

					</div>
					<div class="d-inline">
						<button class="d-inline border-right btn-backgrnd  my-rounded-left" ng-class="{'active':display=='dollar' ,'not-active':display=='percentage'}" ng-click="changedisplayto('dollar')">
							<a href="">
								<span class="" ng-class="{'active-color':display=='dollar' , 'not-active-color':display=='percentage'}">
									<i class="fas fa-dollar-sign ml-2"></i>
								</span>
							</a>
						</button>
						<button class="d-inline btn-backgrnd my-rounded-right" ng-class="{'active':display=='percentage' ,'not-active':display=='dollar'}" ng-click="changedisplayto('percentage')">
							<a href="">
								<span class="" ng-class="{'active-color':display=='percentage' , 'not-active-color':display=='dollar'}">
									<i class="fas fa-percent ml-2 mr-2"></i>
								</span>
							</a>
						</button>
					</div>
				</div>

				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-bottom:-1px">
						<a class="nav-item nav-link active no-outline" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-home"
						 aria-selected="true" >
							<span>
								<i class="fas fa-flag"></i>
							</span>
							{{'{{labels.tabs.new}}'}}
							<span>({{'{{products.new.length}}'}})</span>
						</a>
						<a class="nav-item nav-link no-outline" id="nav-yes-tab" data-toggle="tab" href="#nav-yes" role="tab" aria-controls="nav-profile"
						 aria-selected="false" >
							<span>
								<i class="fas fa-thumbs-up"></i>
							</span>
							{{'{{labels.tabs.yes}}'}}
							<span>({{'{{products.yesProducts.length}}'}})</span>
						</a>
						<a class="nav-item nav-link no-outline" id="nav-no-tab" data-toggle="tab" href="#nav-no" role="tab" aria-controls="nav-contact"
						 aria-selected="false">
							<span>
								<i class="fas fa-thumbs-down"></i>
							</span>
							{{'{{labels.tabs.no}}'}}
							<span>({{'{{products.noProducts.length}}'}})</span>
						</a>
						<a class="nav-item nav-link no-outline" id="nav-test-tab" data-toggle="tab" href="#nav-test" role="tab" aria-controls="nav-home" aria-selected="true">
							<span>
								<i class="fas fa-vial"></i>
							</span>
							{{'{{labels.tabs.tests}}'}}
							<span>({{'{{products.testProducts.length}}'}})</span>
						</a>
						<a class="nav-item nav-link no-outline" id="nav-alert-tab" data-toggle="tab" href="#nav-alert" role="tab" aria-controls="nav-profile"
						 aria-selected="false">
							<span>
								<i class="fas fa-bell"></i>
							</span>
							{{'{{labels.tabs.alert}}'}}
							<span>({{'{{products.alertProducts.length}}'}})</span>
						</a>
						<a class="nav-item nav-link no-outline" id="nav-auto-tab" data-toggle="tab" href="#nav-auto" role="tab" aria-controls="nav-contact"
						 aria-selected="false">
							<span>
								<i class="fas fa-link"></i>
							</span>
							{{'{{labels.tabs.auto}}'}}
							<span>({{'{{products.autoProducts.length}}'}})</span>
						</a>
					</div>
				</nav>

				<!-- Head-Section End -->

				<div class="tab-content pb-4" id="nav-tabContent">

					<!--Nav-Sub-Head-section for colums shown here-->
					<!-- OR -->
					<!--Nav-Sub-Head-section for Rows shown here-->

					<!-- New Tab Content-->
					<div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
						{% include 'new.html' %}
					</div>
					<!-- New-Tab-Content End -->

					<!-- Yes-Tab-Content -->
					<div class="tab-pane fade" id="nav-yes" role="tabpanel" aria-labelledby="nav-yes-tab">
						{% include 'yes.html' %}
					</div>
					<!-- Yes-Tab-Content -->

					<!-- No-Tab-Content -->
					<div class="tab-pane fade" id="nav-no" role="tabpanel" aria-labelledby="nav-no-tab">
						{% include 'no.html' %}
					</div>
					<!-- No-Tab-Content Ends-->

					<!-- test-tab-content -->
					<div class="tab-pane fade show" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">
						{% include 'test.html' %}
					</div>
					<!-- test-tab-content Ends-->

					<!-- alert-tab-content -->
					<div class="tab-pane fade" id="nav-alert" role="tabpanel" aria-labelledby="nav-alert-tab">
						{% include 'alert.html' %}
					</div>
					<!-- alert-tab-content Ends -->

					<!-- Auto-Tab-content -->
					<div class="tab-pane fade" id="nav-auto" role="tabpanel" aria-labelledby="nav-auto-tab">
						{% include 'auto.html' %}
					</div>
					<!-- Auto-Tab-Content Ends-->
				</div>
			</section>