 {% block content %}


<!-- Nav-sub-head for columns view -->
<section class="head-section" ng-show="grid=='large'">
    <div class="container">
        <div class="row head-border-bottom pt-2">
            <div class="col-md-6 px-5 pt-3">
                <h4 class="d-inline">
                    <strong>
                        {{'{{labels.headings.product}}'}}
                    </strong>
                </h4>
                <!-- <a href="">
                    <span data-toggle="tooltip" data-placement="top" title="Something!">
                        <i class="fas fa-info-circle grey p-1"></i>
                    </span>
                </a> -->
            </div>
            <div class="col-md-2 px-2 pt-2">
                <div class="d-flex flex-row cursor no-outline" ng-click="changeSort('CurrentPrice' , 0, 'testProducts')">
                    <div class="p-1">
                        <span class="down-arrow" ng-show="sortCheckList[0]">
                            <i class="fas fa-sort-down p-1 grey"></i>
                        </span>
                        <span class="down-arrow" ng-hide="sortCheckList[0]">
                            <i class="fas fa-sort-up p-1 grey"></i>
                        </span>
                    </div>
                    <div class="p-1">
                        {{'{{labels.headings.priceChange}}'}}
                        <a href="">
                            <span data-toggle="tooltip" data-placement="top" title="Optimal Price to Maximize Profit.">
                                <i class="fas fa-info-circle grey p-1"></i>
                            </span>
                        </a>
                        <p>
                            <small class="grey">{{'{{labels.subHeads.newVsCurrent}}'}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 px-2 pt-2">
                <div class="d-flex flex-row cursor no-outline" ng-click="changeSort('ForecastedSalesDay' , 1, 'testProducts')">
                    <div class="p-1">
                        <span class="down-arrow" ng-show="sortCheckList[1]">
                            <i class="fas fa-sort-down p-1 grey"></i>
                        </span>
                        <span class="down-arrow" ng-hide="sortCheckList[1]">
                            <i class="fas fa-sort-up p-1 grey"></i>
                        </span>
                    </div>
                    <div class="p-1">
                        {{'{{labels.headings.gmChange}}'}}
                        <a href="">
                            <span data-toggle="tooltip" data-placement="top" title="Change in Profit with Price Change.">
                                <i class="fas fa-info-circle grey p-1"></i>
                            </span>
                        </a>
                        <p>
                            <small class="grey">{{'{{labels.subHeads.oneDay}}'}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 px-2 pt-2">
                <div class="text-center" style="padding-top:5px;">
                    {{'{{labels.headings.stock}}'}}
                    <a href="">
                        <span data-toggle="tooltip" data-placement="top" title="Inventory Level in Store.">
                            <i class="fas fa-info-circle grey p-1"></i>
                        </span>
                    </a>
                </div>
                <p>
                    <small class="grey">{{'{{labels.subHeads.inApplicable}}'}}</small>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- nav-sub-head for columns view ends -->

<!--Nav-Sub-Head-section for Rows-->
<section class="head-section" ng-show="grid=='small'">
    <div class="container">
        <div class="row head-border-bottom pt-2">
            <div class="col-md-3 px-5 pt-3">
                <h4 class="d-inline">
                    <strong>
                        {{'{{labels.headings.product}}'}}
                    </strong>
                </h4>
                <!-- <a href="">
                    <span data-toggle="tooltip" data-placement="top" title="Somethig!">
                        <i class="fas fa-info-circle grey p-1"></i>
                    </span>
                </a> -->
            </div>
            <div class="col-md-2 px-2 pt-2 cursor no-outline" ng-click="changeSort('CurrentPrice' , 0, 'testProducts')">
                <div class="d-flex flex-row">
                    <div class="p-1">
                        <span class="down-arrow" ng-show="sortCheckList[0]">
                            <i class="fas fa-sort-down p-1 grey"></i>
                        </span>
                        <span class="down-arrow" ng-hide="sortCheckList[0]">
                            <i class="fas fa-sort-up p-1 grey"></i>
                        </span>
                    </div>
                    <div class="p-1">
                        {{'{{labels.headings.priceChange}}'}}
                        <a href="">
                            <span data-toggle="tooltip" data-placement="top" title="Optimal Price to Maximize Profit.">
                                <i class="fas fa-info-circle grey p-1"></i>
                            </span>
                        </a>
                        <p>
                            <small class="grey">{{'{{labels.subHeads.newVsCurrent}}'}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 px-2 pt-2 cursor no-outline" ng-click="changeSort('ForecastedSalesDay' , 1, 'testProducts')">
                <div class="d-flex flex-row">
                    <div class="p-1">
                        <span class="down-arrow" ng-show="sortCheckList[1]">
                            <i class="fas fa-sort-down p-1 grey"></i>
                        </span>
                        <span class="down-arrow" ng-hide="sortCheckList[1]">
                            <i class="fas fa-sort-up p-1 grey"></i>
                        </span>
                    </div>
                    <div class="p-1">
                        {{'{{labels.headings.gmChange}}'}}
                        <a href="">
                            <span data-toggle="tooltip" data-placement="top" title="Change in Profit with Price Change.">
                                <i class="fas fa-info-circle grey p-1"></i>
                            </span>
                        </a>
                        <p>
                            <small class="grey">{{'{{labels.subHeads.oneDay}}'}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 px-2 pt-2">
                <div class="text-center" style="padding-top:5px;">
                    {{'{{labels.headings.stock}}'}}
                    <a href="">
                        <span data-toggle="tooltip" data-placement="top" title="Inventory Level in Store.">
                            <i class="fas fa-info-circle grey p-1"></i>
                        </span>
                    </a>
                </div>
                <p class="text-center">
                    <small class="grey">{{'{{labels.subHeads.inApplicable}}'}}</small>
                </p>
            </div>
            <div class="col-md-3 px-2 pt-2">
                <div class="text-center" style="padding-top:5px;">
                    <!-- Change Price
                    <a href="">
                        <span data-toggle="tooltip" data-placement="top" title="Somethig!">
                            <i class="fas fa-info-circle grey p-1"></i>
                        </span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Nav-Sub-Head-section for Rows Ends-->
<!-- && $index >=skip.testProducts  && $index < (skip.testProducts+limit) -->
<section infinite-scroll="getProducts('testProducts')" infinite-scroll-distance="0">
    <div class="row  mx-4 text-center" ng-show="products.testProducts.length < 1" style="margin-top: 3rem;">
        <h4 style="color: #aaa;margin-right: auto;margin-left: auto;display: block;" class="text-center">
            {{'{{labels.noResult.noResultFound}}'}}
        </h4>
    </div>
    <!-- Data-Large View -->
    <div class="container" ng-show="grid=='large' && $index < skip.testProducts " ng-repeat="product in products.testProducts | filter : globalSearch track by $index ">
        <div class="row my-3 mx-4 tab-border">
            <div class="col-sm-6 border-right">
                <!-- First sub-section -->
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="pt-4 h-50 text-center w-100">
                            <img class="w-100" ng-src="{{'{{product.Image}}'}}" alt="">
                        </div>
                        <div class="pt-5 h-50">
                            <h5 class="text-left test-change-price">
                                <a href="" class="deco-none">
                                    <strong>
                                        {{'{{labels.sections.changePrice}}'}}
                                    </strong>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <!-- First sub-section Ends-->

                    <!-- Second sub-section -->
                    <div class="p-2 text-center">
                        <div class="pt-4 h-50 text-left">
                            <h5 class="text-left">
                                <strong>{{'{{product.Description}}'}}</strong>
                            </h5>
                            <small class="grey">{{'{{labels.productCatagories.sku}}'}}-{{'{{product.SKU}}'}}</small>
                        </div>
                        <p class="test-yes-btn mt-3 h-50" ng-if="!product.alerted">
                            <button type="button" class="btn btn-lg btn-shadow lg-btn yes-btn" ng-click="sendToYes('testProducts',$index)">Yes</button>
                        </p>
                        <!-- <p class="pt-5 mt-3 h-50" ng-if="product.alerted">
                        <button type="button" class="btn btn-lg btn-shadow lg-btn dark-btn" ng-click="showTopAlert('donate',$index , 'testProducts')">Donate</button>
                    </p> -->
                    </div>
                    <!-- Second sub-section Ends-->

                    <!-- Third sub-section -->
                    <div class="p-2 mt-2">
                        <div class="h-60">
                            <div class="inline-block p-1" style="width:50%">
                                <img ng-src="../static/img/{{'{{(product.CurrentGrade).substr(6,1)}}'}}.png" class="img-fluid">
                            </div>
                            <div class="product-details">
                                <div>
                                    <span>{{'{{labels.productCatagories.department}}'}}:</span>
                                    <span>{{'{{product.Department}}'}}</span>
                                </div>
                                <div>
                                    <span>{{'{{labels.productCatagories.catagory}}'}}:</span>
                                    <span>{{'{{product.Category}}'}}</span>
                                </div>
                                <div>
                                    <span>{{'{{labels.productCatagories.subCatagory}}'}}:</span>
                                    <span>{{'{{product.SubCategory}}'}}</span>
                                </div>
                                <div>
                                    <span>{{'{{labels.productCatagories.sku}}'}}:</span>
                                    <span>{{'{{product.Brand}}'}}</span>
                                </div>
                                <div>
                                    <span class="orange">{{'{{labels.productCatagories.cost}}'}}:</span>
                                    <span class="orange">${{'{{product.Cost}}'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row h-40 pt-4">
                            <div class="p-2" ng-hide="product.alerted">
                                <button type="button" class="btn btn-primary btn-lg btn-shadow lg-btn dark-btn" ng-click="sendToNew('testProducts',$index)">{{'{{labels.buttons.cancel}}'}}</button>
                            </div>
                            <div class="p-2" ng-hide="product.alerted">
                                <button type="button" class="btn btn-primary btn-lg lg-btn btn-shadow">Test in progress</button>
                            </div>


                            <!-- <div class="p-2" ng-hide="product.alerted">
                                <button type="button" class="btn btn-primary btn-lg lg-btn btn-shadow disable-btn">Test Scheduled</button>
                            </div>
                            <div class="p-2" ng-hide="product.alerted">
                                <button type="button" class="btn btn-primary btn-lg lg-btn btn-shadow disable-btn">Test Completed</button>
                            </div> -->


                            <!-- <div class="p-2" ng-hide="product.alerted">
                            <button type="button" class="btn btn-primary btn-lg lg-btn btn-shadow disable-btn" disabled>Test</button>
                        </div> -->
                            <!-- <div class="py-2" ng-show="product.alerted">
                            <button ng-if="product.alerted" type="button" class="btn btn-lg btn-shadow lg-btn dark-btn" ng-click="showTopAlert('manager',$index , 'testProducts')">Alert Manager</button>
                        </div> -->
                            <!-- <div class="p-3">
                            <i class="fas fa-bell fa-2x  pointer" ng-class="{'alerted' : product.alerted , 'bell-icon' : (!product.alerted)}" ng-click="alertItem(product)">
                            </i>
                            <span>

                            </span>
                        </div> -->


                        </div>
                    </div>
                    <!-- Third sub-section Ends-->
                </div>
            </div>

            <!-- Second-section -->
            <div class="col-sm-2 border-right border-left text-center cursor no-outline" id="testProductsFirstAcc_{{'{{$index}}'}}">
                <div class="pt-4 pb-3 h-40 no-outline" data-toggle="collapse" data-target="#collapseTestOne{{'{{product.SKU}}'}}" aria-expanded="true"
                    aria-controls="collapseTestOne{{'{{product.SKU}}'}}" ng-click="drawLineChart($index, 'testProducts', 'chartTestOne', 'collapseTestTwo', 'collapseTestThree', 'testFirstAcc_')">
                    <small class="grey">{{'{{labels.sections.currentPerUnit}}'}}
                        <span class="font-italic"></span>
                    </small>
                    <h2>${{'{{product.CurrentPrice}}'}}</h2>
                </div>

                <div class="slider-section">
                    <small class="grey">{{'{{labels.sections.newPerUnit}}'}}
                        <span class="font-italic"></span>
                    </small>
                    <div>
                        <input type="range" class="slider" ng-model="product.NewPriceSlider" ng-init="product.NewPriceSlider=(product.NewPrice * 100)"
                            ng-change="sliderMoved($index, 'testProducts')" min="{{'{{minSlider($index, " testProducts
                            ")}}'}}" max="{{'{{maxSlider($index, " testProducts ")}}'}}">
                    </div>
                </div>

                <div class="current-data h-60 cursor no-outline" data-toggle="collapse" data-target="#collapseTestOne{{'{{product.SKU}}'}}"
                    aria-expanded="true" aria-controls="collapseTestOne{{'{{product.SKU}}'}}" ng-click="drawLineChart($index, 'testProducts', 'chartTestOne', 'collapseTestTwo', 'collapseTestThree', 'testFirstAcc_')">
                    <h2 ng-show="display=='dollar'" class="test-current-dollor">
                        <strong class="light-green">${{'{{product.NewPrice}}'}}</strong>
                    </h2>
                    <h2 ng-show="display=='percentage'" class="test-current-percentage" style="margin-bottom: 0px;">
                        <strong class="light-green" ng-init="product.PricePercentage=getPercentage(product.NewPrice , product.CurrentPrice)">{{'{{product.PricePercentage}}'}}%</strong>
                    </h2>
                    <small class="grey" ng-show="display=='percentage'">${{'{{product.NewPrice}}'}}
                        <br>
                    </small>
                    <span class="down-arrow">
                        <i class="fas fa-sort-down p-1 grey" styles="margin-top:-1px;"></i>
                    </span>
                </div>
            </div>

            <!-- Second-section Ends-->

            <!-- Third-section -->
            <div class="col-sm-2 border-right border-left cursor no-outline" id="testProductsSecondAcc_{{'{{$index}}'}}" data-toggle="collapse" data-target="#collapseTestTwo{{'{{product.SKU}}'}}"
                aria-expanded="true" aria-controls="collapseTestTwo{{'{{product.SKU}}'}}" ng-click="showFactors($index, 'testProducts', 'collapseTestOne', 'collapseTestThree', 'testSecondAcc_')">
                <div class="text-center pt-4 h-50">
                    <small class="grey">{{'{{labels.sections.factors}}'}}</small>
                    <h2 class="grey">{{'{{product.Factors}}'}}</h2>
                </div>
                <div class="factors-data h-50 text-center">
                    <h2 ng-show="display=='dollar'" class="test-factors-dollor" >
                        <strong>${{'{{product.ForecastedSalesDay}}'}}</strong>
                        <small>
                            <strong>.00</strong>
                        </small>
                    </h2>
                    <h2 ng-show="display=='percentage'" class="test-factors-percentage"  style="margin-bottom: 0px;">
                        <strong ng-init="product.GrossPercentage=getGrossPercentage($index, 'testProducts')">{{'{{product.GrossPercentage}}'}}%</strong>
                    </h2>
                    <small class="grey" ng-show="display=='percentage'">${{'{{product.ForecastedSalesDay}}'}}
                        <br>
                    </small>

                    <span class="down-arrow">
                        <i class="fas fa-sort-down p-1 grey"></i>
                    </span>
                </div>
            </div>
            <!-- Third-section Ends-->

            <!-- Fourth-section -->
            <div class="col-sm-2 cursor border-left no-outline" id="testProductsThirdAcc_{{'{{$index}}'}}" data-toggle="collapse" data-target="#collapseTestThree{{'{{product.SKU}}'}}" aria-expanded="true"
                aria-controls="collapseTestThree{{'{{product.SKU}}'}}" ng-click="drawPieChart($index, 'testProducts', 'donutchartTest', 'collapseTestOne', 'collapseTestTwo', 'testThirdAcc_')">
                <div class="text-center pt-4 h-50">
                    <small class="grey">{{'{{labels.sections.stores}}'}}</small>
                    <h2>{{'{{product.Stores}}'}}</h2>
                </div>
                <div class="px-4 pt-5 h-50 text-center">
                    <h2 class="orange">
                        <strong>{{'{{product.AverageQtyDay}}'}}</strong>
                    </h2>
                    <span class="down-arrow">
                        <i class="fas fa-sort-down p-1 grey"></i>
                    </span>
                </div>
            </div>
            <!-- Fourth-section Ends-->

            <!-- Accordian Data -->
            <!-- Accordian Data of Section-2 -->
            <div id="collapseTestOne{{'{{product.SKU}}'}}" class="collapse dark-grey-bckgrnd w-100" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="padding-right: 30px;">
                    <!--Div that will hold the pie chart-->
                    <div id="chartTestOne{{'{{product.SKU}}'}}" class="graphCont"></div>

                    <!-- Row-One -->
                    <!-- <div class="pt-2" style="padding-left:11%">
                    <div class="inline-block white" style="width: 5%;; vertical-align: top; padding-top: 12px; padding-left: 7px;">
                        <span class="white">Price</span>
                    </div>
                    <div class="inline-block" style="width: 67%;">
                        <table class="table table-bordered yellow-bckgrnd border-darkgrey">
                            <tbody class="border-darkgrey" style="background-color:#FFC000">
                                <tr class="border-darkgrey">
                                    <td class="border-darkgrey">$0.20</td>
                                    <td class="border-darkgrey">$0.28</td>
                                    <td class="border-darkgrey">$0.25</td>
                                    <td class="border-darkgrey">$0.33</td>
                                    <td class="border-darkgrey">$0.25</td>
                                    <td class="border-darkgrey">$0.20</td>
                                    <td class="border-darkgrey">$0.32</td>
                                    <td class="border-darkgrey">$0.30</td>
                                    <td class="border-darkgrey">$0.35</td>
                                    <td class="border-darkgrey">$0.25</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div> -->
                    <!-- Row-One Ends -->

                    <!-- Row-Two -->
                    <!-- <div class="pt-2" style="padding-left:11%">
                    <div class="inline-block white" style="width: 5%; vertical-align: top; padding-top: 12px; padding-left: 4px;">
                        <span class="white">Stock</span>
                    </div>
                    <div class="inline-block" style="width: 67%;">
                        <table class="table table-bordered green-backgrnd">
                            <tbody style="background-color:#61B2A0">
                                <tr>
                                    <td class="border-darkgrey bar-table">15,000</td>
                                    <td class="border-darkgrey bar-table">16,800</td>
                                    <td class="border-darkgrey bar-table">20,800</td>
                                    <td class="border-darkgrey bar-table">11,000</td>
                                    <td class="border-darkgrey bar-table">22,000</td>
                                    <td class="border-darkgrey bar-table">15,000</td>
                                    <td class="border-darkgrey bar-table">16,800</td>
                                    <td class="border-darkgrey bar-table">20,800</td>
                                    <td class="border-darkgrey bar-table">11,000</td>
                                    <td class="border-darkgrey bar-table">22,000</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div> -->
                    <!-- Row-Two Ends -->

                </div>
            </div>
            <!-- Accordian Data of section-2 Ends -->

            <!-- Accordian Data of Section-3 -->
            <div id="collapseTestTwo{{'{{product.SKU}}'}}" class="collapse w-100" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="container-fluid dark-grey-bckgrnd white">
                    <div class="row py-5">
                        <div class="col-md-3">
                            <div class="d-flex flex-column">
                                <div class="p-2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span>
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <h6 class="pl-3">{{'{{labels.AccordionTwoText.life}}'}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <!-- <div class="input-group-text">
                                            <input type="checkbox" aria-label="Checkbox for following text input">
                                        </div> -->
                                            <span>
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <h6 class="pl-3">{{'{{labels.AccordionTwoText.trend}}'}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex flex-column">
                                <div class="p-2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span>
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <h6 class="pl-3">{{'{{labels.AccordionTwoText.inventory}}'}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span>
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <h6 class="pl-3">{{'{{labels.AccordionTwoText.day}}'}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group pt-3">
                                <div class="input-group-prepend">
                                    <span>
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <h6 class="pl-3">{{'{{labels.AccordionTwoText.seasonality}}'}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 class="text-left pl-2">{{'{{labels.AccordionTwoText.grossMarginAt}}'}}</h6>
                            <div class="d-flex flex-row">

                                <div class="">
                                    <div class="d-flex flex-column text-left">
                                        <div class="p-2">{{'{{labels.AccordionTwoText.suggestedPrice}}'}}:</div>
                                        <div class="p-2">{{'{{labels.AccordionTwoText.currentPrice}}'}}:</div>
                                        <div class="p-2 border-right-0" style="border: 1px solid;">{{'{{labels.AccordionTwoText.gmChange}}'}}:</div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="d-flex flex-column">
                                        <div class="p-2">$1228.00</div>
                                        <div class="p-2">$1000.00</div>
                                        <div class="p-2 border-left-0" style="border: 1px solid;">$228.00</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordian Data of section-3 Ends -->

            <!-- Accordian Data of Section-4 -->
            <div id="collapseTestThree{{'{{product.SKU}}'}}" class="collapse w-100 py-3 dark-grey-bckgrnd" aria-labelledby="headingThree"
                data-parent="#accordion">
                <div class="container-fluid white">
                    <div class="row pt-4 dark-grey-bckgrnd">
                        <div class="col-md-4" style="padding-top: 35px;">
                            <!-- Div that will hold the Donut chart -->
                            <div id="donutchartTest{{'{{product.SKU}}'}}" class="" style="margin-left:-15px"></div>
                            <!-- style="width: 900px; height: 100%;" -->
                        </div>
                        <div class="col-md-4" style="background-color: #7F7F7F !important">
                            <table class="table" style="background-color: #7F7F7F !important">
                                <thead>
                                    <tr>
                                        <th scope="col">{{'{{labels.AccordionThreeText.Grade}}'}}</th>
                                        <th scope="col">{{'{{labels.AccordionThreeText.day}}'}}</th>
                                        <th scope="col">{{'{{labels.AccordionThreeText.qty}}'}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="inline-block box-grade yellow-bckgrnd">
                                                A
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>1600</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="inline-block box-grade dark-green-bckgrnd">
                                                B
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>1600</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="inline-block box-grade orange-bckgrnd">
                                                C
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>1600</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="inline-block box-grade  red-bckgrnd ">
                                                D
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>1600</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="inline-block p-1" style="width:32%">
                                <img ng-src="../static/img/{{'{{(product.CurrentGrade).substr(6,1)}}'}}.png" class="img-fluid" alt="Responsive image">
                            </div>
                            <span class="pl-2">
                                <strong>
                                    {{'{{labels.AccordionThreeText.storeDetails}}'}}
                                </strong>
                                {{'{{labels.AccordionThreeText.top}}'}}
                            </span>
                            <div class="">
                                <table class="table" style="background-color: #7F7F7F !important">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">S.no.</th> -->
                                            <th scope="col">{{'{{labels.AccordionThreeText.storeAddress}}'}}</th>
                                            <th scope="col">{{'{{labels.AccordionThreeText.stock}}'}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- <th scope="row">1</th> -->
                                            <td>3505 El Camino Real, Palo Alto, CA 94306</td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <!-- <th scope="row">2</th> -->
                                            <td>3505 El Camino Real, Palo Alto, CA 94306</td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <!-- <th scope="row">3</th> -->
                                            <td>3505 El Camino Real, Palo Alto, CA 94306</td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <!-- <th scope="row">4</th> -->
                                            <td>3505 El Camino Real, Palo Alto, CA 94306</td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <!-- <th scope="row">5</th> -->
                                            <td>3505 El Camino Real, Palo Alto, CA 94306</td>
                                            <td>250</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordian Data of section-4 Ends -->
            <!-- Accordian Data Ends -->
        </div>
    </div>
</section>
<!-- Data-Large View Ends-->
<!-- && $index >=skip.testProducts  && $index < (skip.testProducts+limitSmall) -->
<!-- Data-small View -->
<section infinite-scroll="getProducts('testProducts')" infinite-scroll-distance="0">
    <div class="container" ng-show="grid=='small' && skip.testProducts " ng-repeat="product in products.testProducts | filter : globalSearch track by $index ">
        <div class="row py-2">
            <div class="my-col-md-1">
                <div class="light-grey">
                    <div class="add-btn no-outline" id="plus-button-{{'{{product.SKU}}'}}" data-toggle="collapse" data-target="#collapseOneSmallTest{{'{{product.SKU}}'}}" aria-expanded="true"
                        aria-controls="collapseOne" ng-click="drawSmallerSection($index, 'testProducts', 'smallerLineTest', 'smallerPieTest')">+</div>
                    <!-- <button class="btn btn-primary" >+</button> -->
                </div>
            </div>
            <div class="my-col-md-11">
                <div>
                    <ul class="white-bckgrnd ul-top">
                        <!-- <li class="p-2">
                        <div class="inline-block" style="width:55px;">
                            <img ng-src="{{'{{product.Image}}'}}" alt="" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="inline-block ellipsis" style="width:15%; vertical-align: -webkit-baseline-middle;">
                            <h6>
                                <strong>{{'{{product.Description}}'}}</strong>
                            </h6>
                        </div>
                    </li> -->
                        <li class="text-center border-right">
                            <div class="inline-block" style="width:64px;">
                                <img ng-src="{{'{{product.Image}}'}}" alt="" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="inline-block ellipsis" style="width:15%; vertical-align: -webkit-baseline-middle;">
                                <h6>
                                    <strong>{{'{{product.Description}}'}}</strong>
                                </h6>
                            </div>
                        </li>






                        <!-- <li class="price-change-content border-right">
                        <div class="d-inline">
                            <h6 class="d-inline">
                                <span>
                                    <i class="fas fa-minus-circle grey"></i>
                                </span>
                                <span class="light-green">
                                    <strong>${{'{{product.NewPrice}}'}}</strong>
                                </span>
                                <span>
                                    <i class="fas fa-plus-circle grey"></i>
                                </span>
                            </h6>
                        </div>
                        <div class="d-inline">
                            <span>
                                <i class="fas fa-caret-left"></i>
                            </span>
                            <span>
                                <small>${{'{{product.CurrentPrice}}'}}</small>
                            </span>
                        </div>
                    </li> -->
                        <li class="text-center border-right">
                            <div class="inline-block price-change-content">
                                <h6 class="inline-block">
                                    <span>
                                        <i class="fas fa-minus-circle grey cursor no-outline" ng-click="changeValuePrice('minus',$index, 'testProducts')"></i>
                                    </span>
                                    <span class="light-green">
                                        <strong ng-show="display=='dollar'">${{'{{product.NewPrice}}'}}</strong>
                                        <strong ng-show="display=='percentage'" ng-init="product.PricePercentage=getPercentage(product.NewPrice , product.CurrentPrice)">{{'{{product.PricePercentage}}'}}%</strong>
                                    </span>
                                    <span>
                                        <i class="fas fa-plus-circle grey cursor no-outline" ng-click="changeValuePrice('plus',$index, 'testProducts')"></i>
                                    </span>
                                </h6>
                                <span>
                                    <i class="fas fa-caret-left"></i>
                                </span>
                                <span>
                                    <small>${{'{{product.CurrentPrice}}'}}</small>
                                </span>
                            </div>
                        </li>





                        <!-- <li class="gm-change-content border-right">
                        <h6 class="d-inline">
                            <strong>${{'{{product.ForecastedSalesDay}}'}}
                                <small>
                                    <strong>.00</strong>
                                </small>
                            </strong>
                        </h6>
                    </li> -->
                        <li class="text-center border-right">
                            <div class="inline-block gm-change-content">
                                <h6 class="d-inline" ng-show="display=='dollar'">
                                    <strong>${{'{{product.ForecastedSalesDay}}'}}
                                        <small>
                                            <strong>.00</strong>
                                        </small>
                                    </strong>
                                </h6>
                                <h6 class="d-inline" ng-show="display=='percentage'">
                                    <strong ng-init="product.GrossPercentage=getGrossPercentage($index, 'testProducts')">{{'{{product.GrossPercentage}}'}}%</strong>
                                </h6>
                            </div>
                        </li>





                        <!-- <li class="stock-content border-right">
                        <h6 class="d-inline orange">
                            <strong>{{'{{product.AverageQtyDay}}'}}</strong>
                        </h6>
                    </li> -->
                        <li class="text-center border-right">
                            <div class="inline-block stock-content">
                                <h6 class="d-inline orange">
                                    <strong>{{'{{product.AverageQtyDay}}'}}</strong>
                                </h6>
                            </div>
                        </li>







                        <!-- <li class="change-price-content-yes">
                        <button class="btn mr-1 yes-btn" ng-click="sendToYes('testProducts',$index)">Yes</button>
                        <button class="btn mr-1 dark-btn" ng-click="sendToNo('testProducts',$index)">No</button>
                        <button class="btn mr-1 disable-btn" disabled>Test</button>
                        <span class="px-1">
                            <i class="fas fa-bell fa-2x bell-align bell-icon"></i>
                        </span>
                    </li> -->
                        <li class="text-center">
                            <div class="inline-block change-price-content-yes">
                                <span ng-hide="product.alerted">
                                    <button class="btn mr-1 yes-btn" ng-click="sendToYes('testProducts',$index)">{{'{{labels.buttons.yes}}'}}</button>
                                    <button class="btn mr-1 dark-btn" ng-click="sendToNew('testProducts',$index)">{{'{{labels.buttons.cancel}}'}}</button>
                                    <!-- <button class="btn mr-1 dark-btn" ng-click="sendToTest('testProducts',$index)" disabled>Test</button> -->
                                </span>
                                <!-- <span ng-show="product.alerted">
                                <button class="btn mr-1 dark-btn" ng-click="showTopAlert('donate',$index , 'testProducts')">Donate</button>
                                <button class="btn mr-1 dark-btn" ng-click="showTopAlert('manager',$index , 'testProducts')">Alert Manger</button>
                            </span>
                            <span class="px-1">
                                <i class="fas fa-bell fa-2x bell-align pointer" ng-class="{'alerted' : product.alerted , 'bell-icon' : (!product.alerted)}"
                                    ng-click="alertItem(product)"> </i>
                            </span> -->
                            </div>
                        </li>

                    </ul>


                    <ul class="white-bckgrnd border-top py-1 ul-bottom">
                        <li>
                            <div class="d-inline grade-row p-2 text-center mb-1 btn-shadow" ng-class="{'gradeA' :(product.CurrentGrade=='Grade A') ,'gradeB' :(product.CurrentGrade=='Grade B') ,'gradeC' :(product.CurrentGrade=='Grade C') , 'gradeD' :(product.CurrentGrade=='Grade D') }">
                                {{'{{product.CurrentGrade}}'}}
                            </div>
                        </li>
                        <li class="text-center border-right">
                            <div class="inline-block px-1" style="max-width:130px;">
                                <small class="grey">{{'{{labels.productCatagories.sku}}'}}-{{'{{product.SKU}}'}}</small>
                            </div>

                        </li>
                        <li class="text-center border-right">
                            <div class="inline-block px-1" style="max-width:205px;">
                                <small class="grey">
                                    <span>{{'{{labels.productCatagories.department}}'}}:</span>
                                    <span>{{'{{product.Department}}'}}</span>
                                </small>
                            </div>
                        </li>
                        <li class="text-center border-right">
                            <div class="inline-block px-1" style="max-width:180px;">
                                <small class="grey">
                                    <span>{{'{{labels.productCatagories.catagory}}'}}:</span>
                                    <span>{{'{{product.Category}}'}}</span>
                                </small>
                            </div>
                        </li>
                        <li class="text-center border-right">
                            <div class="inline-block px-1" style="max-width:212px;">
                                <small class="grey">
                                    <span>{{'{{labels.productCatagories.subCatagory}}'}}:</span>
                                    <span>{{'{{product.SubCategory}}'}}</span>
                                </small>
                            </div>
                        </li>
                        <li class="text-center border-right">
                            <div class="inline-block px-1" style="max-width:150px;">
                                <small class="grey">
                                    <span>{{'{{labels.productCatagories.brand}}'}}:</span>
                                    <span>{{'{{product.Brand}}'}}</span>
                                </small>
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="inline-block px-1" style="max-width:100px;">
                                <small class="grey">
                                    <span class="orange">{{'{{labels.productCatagories.cost}}'}}:</span>
                                    <span class="orange">${{'{{product.Cost}}'}}</span>
                                </small>
                            </div>
                        </li>
                    </ul>

                    <!-- Accordian of + Button -->
                    <div id="collapseOneSmallTest{{'{{product.SKU}}'}}" class="collapse pt-1" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="" style="flex: 1 1 top; padding:0.25rem;">
                            <div class="inline-block p-1 ml-2 w-49 fixed-height" style="width: 48%;background-color: #33826d;border-radius: 10px;">

                                <div id="smallerLineTest{{'{{product.SKU}}'}}" class="graphCont"></div>
                            </div>
                            <div class="inline-block p-1 w-49 fixed-height" style="width: 48%; background-color: #33826d;border-radius: 10px;">
                                <div>
                                    <div class="smallPieGraph">
                                        <div id="smallerPieTest{{'{{product.SKU}}'}}"></div>
                                    </div>
                                    <div>
                                        <div class="block p-1" style="width:25%;float: right;">
                                            <img ng-src="../static/img/{{'{{(product.CurrentGrade).substr(6,1)}}'}}.png" class="img-fluid" alt="Responsive image">
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 white" style="background-color: #33826D; margin-right: 5px; margin-left: 10px; border-radius: 10px; max-width: 48%;">
                                    <h4 class="pt-2 pl-2">{{'{{labels.noResult.factorsInflencing}}'}}</h4>
                                    <div class="d-flex flex-row">
                                        <div class="p-2">
                                            <div class="d-flex flex-column">
                                                <div class="p-2">
                                                    <div class="d-flex flex-row">
                                                        <div class="p-2">
                                                            <span>
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </div>
                                                        <div class="p-2">
                                                            <h6 class="inline-block">{{'{{labels.AccordionTwoText.life}}'}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="d-flex flex-row">
                                                        <div class="p-2">
                                                            <span>
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </div>
                                                        <div class="p-2">
                                                            <h6 class="inline-block">{{'{{labels.AccordionTwoText.trend}}'}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-2">
                                            <div class="d-flex flex-column">
                                                <div class="p-2">
                                                    <div class="d-flex flex-row">
                                                        <div class="p-2">
                                                            <span>
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </div>
                                                        <div class="p-2">
                                                            <h6 class="inline-block">{{'{{labels.AccordionTwoText.inventory}}'}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="d-flex flex-row">
                                                        <div class="p-2">
                                                            <span>
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </div>
                                                        <div class="p-2">
                                                            <h6 class="inline-block">{{'{{labels.AccordionTwoText.day}}'}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-2">
                                            <div class="d-flex flex-column">
                                                <div class="p-2">
                                                    <div class="d-flex flex-row">
                                                        <div class="p-2">
                                                            <span>
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </div>
                                                        <div class="p-2">
                                                            <h6 class="inline-block">{{'{{labels.AccordionTwoText.seasonality}}'}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 white" style="background-color: #33826D; border-radius: 10px; max-width: 47%;">
                                    <h4 class="pt-2 pl-2">{{'{{labels.AccordionTwoText.grossMarginAt}}'}}</h4>
                                    <div class=" text-center">
                                        <br>
                                        <div class="d-flex flex-row" style="padding-left:40%">

                                            <div class="">
                                                <div class="d-flex flex-column text-left">
                                                    <div class="p-2">{{'{{labels.AccordionTwoText.suggestedPrice}}'}}:</div>
                                                    <div class="p-2">{{'{{labels.AccordionTwoText.currentPrice}}'}}:</div>
                                                    <div class="p-2 border-right-0" style="border: 1px solid;">{{'{{labels.AccordionTwoText.gmChange}}'}}:</div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="d-flex flex-column">
                                                    <div class="p-2">$1228.00</div>
                                                    <div class="p-2">$1000.00</div>
                                                    <div class="p-2 border-left-0" style="border: 1px solid;">$228.00</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordian of + Button Ends-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Data-small View Ends-->
<br>
<div class="text-center">
    <div style="display: inline-block;margin-left: auto;margin-right: auto;">
        <ul class="pagination" ng-show="grid=='large'">
            <li class="page-item" ng-repeat="page in pages.testProducts" ng-click="changePage(page, 'testProducts')" ng-class="{'active' :(skip.testProducts/limit)==page }">
                <a class="page-link" href="#">{{'{{page + 1}}'}}</a>
            </li>
        </ul>
        <ul class="pagination" ng-show="grid=='small'">
            <li class="page-item" ng-repeat="page in pages.testProducts" ng-click="changePage(page, 'testProducts')" ng-class="{'active' :(skip.testProducts/limitSmall)==page }">
                <a class="page-link" href="#">{{'{{page + 1}}'}}</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}